@import './utils/variables';
@import './base/container';
@import './base/common';
@import './components/header';
@import './components/footer';
@import './components/modal-window';
@import './components/myLibraryHeader';
@import './components/main';
@import './components/students';
@import './components/login-form';
@import './components/pagination';
@import './components/advencedSeach';
@import './components/to-top-btn';
