<div class="card">
  <a>
    <img
      class="card__image"
      src="https://www.themoviedb.org/movie/774752-the-guardians-of-the-galaxy-holiday-special#"
    />
  </a>
  <div>
    <div class="card__title">Example title</div>
    <ul class="card__info">
      <li class="card__info-details">
        Vote/Votes
        <div class="card__info-rate">
          <div class="rate">Rate</div>
          &nbsp;/&nbsp;
          <div class="rate__total">Total Rate</div>
        </div>
      </li>
      <li class="card__info-popularity">
        Popularity
        <div>Score</div>
      </li>
      <li class="card__info-title">
        Orginal Title
        <div>Title</div>
      </li>
      <li class="card__info-gene">
        Genre
        <div>Type</div>
      </li>
    </ul>
    <div class="card__about-title">
      About
      <p class="card__about-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
        voluptas cupiditate, dolore ab perferendis eaque reprehenderit pariatur
        nam esse laborum ea, eos maxime molestias nemo deserunt? Placeat saepe
        odio libero?
      </p>
    </div>
    <div class="card__buttons">
      <button class="watched-btn">Add to watched</button>
      <button class="queue-btn">Add to queue</button>
    </div>
  </div>
</div>
