<div class="logIn-modal backdrop is-hidden">
  <div class="auth-modal">
    <div class="auth-modal__container">
      <button class="auth-modal__close-btn" id="form-modal-close" type="button">
        XD
        <!-- <svg class="auth-modal__close-btn--icon" width="30" height="30">
          <use href="./images/icons.svg#cross"></use>
        </svg> -->
      </button>
      <div class="auth-modal__header">
        <p class="auth-modal__title js-form-auth__title">Sign In</p>
        <button
          class="auth-modal__button js-form-auth__type-switch"
          type="button"
        >
          Registration
        </button>
      </div>
      <form class="auth-form" id="sign-in-form">
        <label
          ><input
            class="auth-form__input auth-form__input--email js-input__email"
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
        /></label>

        <label
          ><input
            class="auth-form__input auth-form__input--password js-input__pass"
            type="password"
            name="password"
            minlength="6"
            placeholder="Password"
            required
        /></label>
        <p class="auth-form__text js-conditions" hidden>
          By clicking Registration button, you are indicating that you have read
          and agree to the
          <a
            class="auth-form__link"
            href="https://policies.google.com/terms?hl=en&fg=1"
            >Terms of Use</a
          >
          and
          <a
            class="auth-form__link"
            href="https://policies.google.com/privacy?hl=en&fg=1"
            >Privacy Policy</a
          >.
        </p>
        <button
          class="auth-form__button btn-accent js-form__submit"
          type="submit"
        >
          Sign In
        </button>
      </form>
      <div class="auth-form__autorization">
        <p class="auth-form__sign-text">Sign in with Google:</p>
        <button
          id="sign-in-google"
          class="auth-form__button-google js-sign-google"
          aria-label="sign in with google"
        >
          <svg class="google-icon" width="15" height="15">
            <use href="./images/icons.svg#google"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<button class="sign-out-btn" id="sign-out-btn">Log out</button>
<button id="logIn" class="logIn is-hidden" title="LogIn">Log In</button>
