<div class="logIn-modal backdrop is-hidden">
  <div class="auth-modal">
    <button class="auth-modal__close-btn" id="form-modal-close">XD</button>
    <form id="sign-in-form">
      <h2>SignIn</h2>
      <label for="email">Email</label>
      <input type="text" id="email" class="Sign-email" name="email" placeholder="User email" required />
      <label for="password">Password</label>
      <input type="password" id="password" class="signin-password" name="password" placeholder="User password" required />
      <input type="submit" value="Log" />
    </form>

    <form id="sign-up-form">
      <h2>Create new user</h2>
      <label for="email">Email</label>
      <input type="text" class="create-email" id="createEmail" name="email" placeholder="New user email" required />
      <label for="password">Password</label>
      <input type="password" class="create-email" id="createPassword" name="password" placeholder="New user email" required />
      <input type="submit" value="create" />
    </form>
    <button class="sign-in-google" id="sign-in-google">Tera Googlem!</button>
  </div>
</div>

<button class="sign-out-btn" id="sign-out-btn">Log out</button>
<button id="logIn" class="logIn is-hidden" title="LogIn">Log In</button>
