<div class="library-header">
 <!--    <ul class="library-header__list">
        <li class="library-header__item">
            <a>
                <svg></svg>
                <h1>Filmoteka</h1>
            </a>
        </li>
        <li class="library-header__item">
            <ul class="library-header__header-links header-links">
                <li class="header-links__item"><a class="headers-links__link">home</a></li>
                <li class="header-links__item"><a class="headers-links__link">my library</a></li>
            </ul>
        </li>
        <li> -->
            <ul class="library-header__list container">
                <li class="library-header__item library-header__item--first"><button type="button" class="library-header__btn">watched</button></li>
                <li class="library-header__item"><button class="library-header__btn" type="button">queue</button></li>
            </ul>
  <!--       </li>
    </ul> -->
</div>