<div class="pagination">
  <a class="pagination__back-link" href=""
    ><button class="pagination__back">
      <svg class="pagination__icon icon-arrow-left">
        <use
          xlink:href=".\images\footer\pagination\sprite.svg#icon-arrow-left"
        ></use>
      </svg></button
  ></a>
  <a class="pagination__site-link-1">1</a>
  <a class="pagination__site-link-2">2</a>
  <a class="pagination__site-link-3">3</a>
  <a class="pagination__site-link-4">4</a>
  <a class="pagination__site-link-5">5</a>
  <a class="pagination__forward-link"
    ><button class="pagination__forward">
      <svg class="pagination__icon icon-arrow-right">
        <use
          xlink:href=".\images\footer\pagination\sprite.svg#icon-arrow-right"
        ></use>
      </svg></button
  ></a>
</div>
