<div class="pagination">
  <nav class="pagination-container">
    <button
      class="pagination-button"
      id="prev-button"
      aria-label="Previous page"
      title="Previous page"
    >
      &lt;
    </button>
    <span class="ellipsis">&hellip;</span>

    <div id="pagination-numbers"></div>

    <span class="ellipsis">&hellip;</span>

    <button
      class="pagination-button"
      id="next-button"
      aria-label="Next page"
      title="Next page"
    >
      &gt;
    </button>
  </nav>
</div>
