<div class="backdrop is-hidden" data-modal>
  <div class="students-modal">
    <section class="team-container">
      <div><button type="button" class="students-modal__close-btn">
        <svg class="students-modal__close-btn--svg">
          <use href="images/icons.svg#cross"></use>
        </svg></button>
        <h2 class="team__header">Nasz zespół</h2>
        <ul class="team">
          <li>
            <figure class="team__members">
              <img
                class="team__img"
                src="images/team/img1.jpg"
                alt="picture of John Doe"
              />
              <figcaption>
                <p class="team__names">John Doe</p>
                <p class="team__positions">Product Designer</p>
                <div class="team__social-links">
                  <ul class="team__social-wrapper">
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#github"></use>
                        </svg>
                      </a>
                    </li>
                    <!-- <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#instagram"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#twitter"></use>
                        </svg>
                      </a>
                    </li> -->
                    <!-- <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#facebook"></use>
                        </svg>
                      </a>
                    </li> -->
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#linkedin"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="team__members">
              <img
                class="team__img"
                src="images/team/img2.jpg"
                alt="picture of John Doe"
              />

              <figcaption>
                <p class="team__names">John Doe</p>
                <p class="team__positions">Frontend Developer</p>

                <div class="team__social-links">
                  <ul>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#github"></use>
                        </svg>
                      </a>
                    </li>
                    <!-- <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#instagram"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#twitter"></use>
                        </svg>
                      </a>
                    </li> -->
                    <!-- <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#facebook"></use>
                        </svg>
                      </a>
                    </li> -->
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#linkedin"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="team__members">
              <img
                class="team__img"
                src="images/team/img3.jpg"
                alt="picture of John Doe"
              />

              <figcaption>
                <p class="team__names">John Doe</p>
                <p class="team__positions">Marketing</p>
                <div class="team__social-links">
                  <ul>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#github"></use>
                        </svg>
                      </a>
                    </li>
                    <!-- <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#instagram"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#twitter"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#facebook"></use>
                        </svg>
                      </a>
                    </li> -->
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#linkedin"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="team__members">
              <img
                class="team__img"
                src="images/team/img2.jpg"
                alt="picture of John Doe"
              />

              <figcaption>
                <p class="team__names">John Doe</p>
                <p class="team__positions">Frontend Developer</p>

                <div class="team__social-links">
                  <ul>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#github"></use>
                        </svg>
                      </a>
                    </li>
                    <!-- <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#instagram"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#twitter"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#facebook"></use>
                        </svg>
                      </a>
                    </li> -->
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#linkedin"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="team__members">
              <img
                class="team__img"
                src="images/team/img2.jpg"
                alt="picture of John Doe"
              />

              <figcaption>
                <p class="team__names">John Doe</p>
                <p class="team__positions">Frontend Developer</p>

                <div class="team__social-links">
                  <ul>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#github"></use>
                        </svg>
                      </a>
                    </li>
                    <!-- <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#instagram"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#twitter"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#facebook"></use>
                        </svg>
                      </a>
                    </li> -->
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#linkedin"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="team__members">
              <img
                class="team__img"
                src="images/team/img4.jpg"
                alt="picture of John Doe"
              />

              <figcaption>
                <p class="team__names">John Doe</p>
                <p class="team__positions">UI Designer</p>
                <div class="team__social-links">
                  <ul>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#github"></use>
                        </svg>
                      </a>
                    </li>
                    <!-- <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#instagram"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#twitter"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#facebook"></use>
                        </svg>
                      </a>
                    </li> -->
                    <li>
                      <a href="">
                        <svg>
                          <use href="images/icons.svg#linkedin"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
