<div class="backdrop is-hidden data-modal">
  <div class="students-modal">
    <section class="team-container">
      <div>
        <button type="button" class="students-modal__close-btn">
          <svg class="students-modal__close-btn--svg">
            <use href="images/icons.svg#cross"></use>
          </svg>
        </button>
        <h2 class="team__header">
          <span class="team__header--accent">Fast</span
          ><span class="team__header--and">And</span
          ><span class="team__header--accent">Creative </span>team
        </h2>
        <ul class="team">
          <li>
            <a
              href="https://github.com/MagdaBonk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/dev1.jpg"
                  alt="picture of Magdalena Bonk"
                />
                <figcaption>
                  <p class="team__names">Magdalena Bonk</p>
                  <p class="team__positions">Developer</p>
                  <div class="team__social-links">
                    <ul class="team__social-wrapper">
                      <li>
                        <a
                          href="https://github.com/MagdaBonk"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/icons.svg#github"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://www.linkedin.com/in/magdalena-bonk-33b465165/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/icons.svg#linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/NataliaWajcowicz"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/dev2.jpg"
                  alt="picture of Natalia Wajcowicz-Uściła"
                />

                <figcaption>
                  <p class="team__names">Natalia Wajcowicz-Uściła</p>
                  <p class="team__positions">Developer</p>

                  <div class="team__social-links">
                    <ul>
                      <li>
                        <a
                          href="https://github.com/NataliaWajcowicz"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/icons.svg#github"></use>
                          </svg>
                        </a>
                      </li>

                      <li>
                        <a
                          href="https://www.linkedin.com/in/natalia-wajcowicz-uściła-538767190/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/icons.svg#linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/DominikBanaskiewicz"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/dev3.jpg"
                  alt="picture of Dominik Banaśkiewicz"
                />

                <figcaption>
                  <p class="team__names">Dominik Banaśkiewicz</p>
                  <p class="team__positions">Developer</p>
                  <div class="team__social-links">
                    <ul>
                      <li>
                        <a
                          href="https://github.com/DominikBanaskiewicz"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/icons.svg#github"></use>
                          </svg>
                        </a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/in/dominik-bana%C5%9Bkiewicz-a97234224/" target="_blank" rel="noopener noreferrer">
                          <svg>
                            <use href="images/icons.svg#linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/DawidKrupski"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/dev4.jpg"
                  alt="picture of Dawid Krupski"
                />

                <figcaption>
                  <p class="team__names">Dawid Krupski</p>
                  <p class="team__positions">Developer</p>

                  <div class="team__social-links">
                    <ul>
                      <li>
                        <a
                          href="https://github.com/DawidKrupski"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/icons.svg#github"></use>
                          </svg>
                        </a>
                      </li>

                      <li>
                        <a
                          href="https://www.linkedin.com/in/dawid-krupski/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/icons.svg#linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/olekpositive"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/dev5.jpg"
                  alt="picture of Oleksandr Kihim"
                />

                <figcaption>
                  <p class="team__names">Oleksandr Kihim</p>
                  <p class="team__positions team__positions--funk">Developer</p>
                  <p class="team__positions team__positions--var">
                    project scrum master
                  </p>

                  <div class="team__social-links">
                    <ul>
                      <li>
                        <a
                          href="https://github.com/olekpositive"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use
                              href="images/icons.svg#github"
                              target="_blank"
                              rel="noopener noreferrer"
                            ></use>
                          </svg>
                        </a>
                      </li>

                      <li>
                        <a 
                          href="https://www.linkedin.com/in/oleksandr-kihim/" 
                          target="_blank" 
                          rel="noopener noreferrer">
                          <svg>
                            <use href="images/icons.svg#linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption></figure
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/MrRafalGlowacki"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__members">
                <img
                  class="team__img"
                  src="images/team/dev6.jpg"
                  alt="picture of Rafał Głowacki"
                />

                <figcaption>
                  <p class="team__names">Rafał Głowacki</p>
                  <p class="team__positions team__positions--funk">Developer</p>
                  <p class="team__positions team__positions--var">
                    project team leader
                  </p>
                  <div class="team__social-links">
                    <ul>
                      <li>
                        <a
                          href="https://github.com/MrRafalGlowacki"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/icons.svg#github"></use>
                          </svg>
                        </a>
                      </li>

                      <li>
                        <a
                          href="https://www.linkedin.com/in/rafal-g-23ab35259/"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <svg>
                            <use href="images/icons.svg#linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
