.select-genres {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.genre {
  padding: 0px;
  padding: 5px 10px;
  text-transform: uppercase;
  background: #ff6b01;
  color: #ffffff;
  border-radius: 5px;
  border: 0px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.genre:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
