.genres-menu {
  position: relative;
  display: inline-block;
  &__btn {
    background: #ff6b01;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  &:hover .select-genres {
    display: block;
  }
  &:hover .genres-menu__btn {
    background: #b64e03;
  }
}
.select-genres {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  &:hover {
    display: block;
  }
}
.genre {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  &:hover {
    background-color: #f1f1f1;
  }
}
.focused-genre {
  background: #ff6b01;
}
