@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
    format('opentype');
}
.footer__box {
  background-color: rgba(247, 247, 247, 1);
}
.footer {
  font-family: 'Roboto';

  margin: 0px auto 0px auto;
  font-weight: 400;
  font-size: 16px;
  color: rgba(84, 84, 84, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  &__icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    width: 1.0771484375em;
  }
  &__authors {
    text-decoration: underline;
    margin: 0;
    &:hover {
      cursor: pointer;
    }
  }
  &__sign {
    display: flex;
    align-items: center;
  }
  &__text {
    font-family: 'Roboto';
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    height: 77px;
    flex-direction: row;
    justify-content: center;
  }
}
