.logIn {
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: getColor(button-color);
  opacity: 0.8;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.3);
  transition: 350ms ease-in-out;
  &:hover {
    opacity: 1;
  }
  &-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000c;
    @media screen and (max-width: 480px) {
      padding-left: 30px;
    }
  }
}
.sign-out-btn {
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: getColor('button-color');
  opacity: 0.8;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.3);
  transition: 350ms ease-in-out;
  &:hover {
    opacity: 1;
  }
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition-property: opacity visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  transform: translate(-50%, -50%);
  min-width: min-content;
  max-width: 360px;
  padding: 60px 30px;
  z-index: 100;
  background-color: getColor('basic-color');
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
  @media screen and (min-width: 768px) {
    min-width: 450px;
    min-width: 450px;
    width: 500px;
    height: 520px;
  }
  &__container {
    width: 240px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      width: 336px;
    }
  }
  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    // poniżej do usunięcia przed oddaniem
    font-size: 20px;
    font-weight: 500;
    &:hover {
      color: getColor('button-color');
    }
    // powyżej do usunięcia
    &--icon {
      position: relative;
      width: 20px;
      height: 20px;
      &:hover,
      &:active,
      &:focus {
        fill: getColor('button-color');
      }
    }
  }
  &__header {
    position: relative;
    display: flex;
    align-items: baseline;
    &::after {
      position: absolute;
      bottom: -8px;
      left: 0;
      content: '';
      width: 100%;
      height: 3px;
      background-color: getColor('underline-color');
    }
  }
  &__title {
    margin: 0;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;
    color: getColor('bgd-dark');
  }
  &__button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    transform: scale(1);
    transition: transform 0.5s linear;
    color: getColor(button-color);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1);
    }
  }
}
.google-icon {
  width: 100%;
  height: 100%;
}
.auth-form {
  margin-top: 46px;
  &__input {
    width: 100%;
    margin-bottom: 25px;
    padding: 11 12 11 12;
    border: 1px solid getColor('bgd-dark');
    border-radius: 5px;
    @media screen and (min-width: 768px) {
      width: 100%;
    }
    &:focus {
      outline: 1px solid getColor('button-color');
      border: 1px solid getColor('button-color');
    }
  }
  &__text {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    color: getColor('bgd');
  }
  &__sign-text {
    color: getColor('bgd');
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
  }
  &__button {
    display: block;
    width: 100%;
    margin-bottom: 28px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 5px;
    background-color: getColor('button-color');
    color: getColor('basic-color');
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    font-family: inherit;
    cursor: pointer;
    border: none;
    padding: 10px;
    transition: transform 0.5s linear;
    &:hover {
      transform: scale(1.1);
    }
    @media screen and (min-width: 768px) {
      height: 60px;
    }
    &-google {
      width: 70px;
      height: 70px;
      padding: 10px;
      margin-left: 20px;
      border: 1px solid getColor('bgd');
      border-radius: 5px;
      transform: scale(1);
      transition: transform 0.5s linear;
      cursor: pointer;
      &:hover,
      &:focus {
        border-color: getColor('button-color');
        transform: scale(1.1);
      }
    }
  }
  &__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    font-family: 'Roboto', sans-serif;
    color: getColor('button-color');
    &:hover,
    &:focus {
      color: getColor('bgd');
    }
  }
  &__autorization {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.auth-modal *::placeholder {
  color: getColor(button-color);
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  #logIn {
    width: 50px;
    height: 60px;
    border-radius: 10px;
  }
  #sign-out-btn {
    // top: 5.5%;
    // transform: rotate(90deg);
    width: 50px;
    height: 60px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1025px) {
}
