.main {
  padding: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.movie-card {
  width: 280px;
  height: 443px;
  display: flex;
  flex-direction: column;

  &__image {
    width: 280px;
    height: 402px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  &__label {
    padding-top: 10px;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
  }
  &__title {
    margin: 0;
    padding: 0;
    line-height: calc(16 / 12);
    color: rgba(0, 0, 0, 1);
  }
  &__genre-year {
    margin: 0;
    padding: 0;
    line-height: calc(14.06 / 12);
    color: rgba(255, 107, 8, 1);
  }
  &__id {
    visibility: hidden;
    margin: 0;
    padding: 0;
  }
}
.no-movies {
  font-weight: 900;
  font-size: 30px;
  height: calc(100vh - 39vh);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    padding: 60px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-box {
    width: calc(2 * 294px + 30px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
  }
  .movie-card {
    width: 294px;
    height: 440px;

    &__image {
      width: 293px;
      height: 398px;
    }
  }
  .no-movies {
    font-size: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0 40px 0;
  }
  .main-box {
    width: calc(3 * 274px + 60px);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
  }
  .movie-card {
    width: 274px;
    height: 440px;

    &__image {
      width: 274px;
      height: 398px;
    }
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  align-content: center;
  justify-content: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
