.pagination {
  &__container {
    display: flex;
    padding: 0 0 40px 0;
    justify-content: center;
  }

  &__button {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
  }

  &__button:not(.disabled):hover {
    cursor: pointer;
    color: getColor('button-color');
  }

  &__number {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
  }

  &__number:hover,
  &__button:not(.disabled):hover {
    background: getColor('basic-lighter');
  }

  &__number.hidden {
    display: none;
  }

  &__number.active {
    background: getColor('button-color');
    border-radius: 5px;
  }

  &__numbers-ellipsis {
    margin: 0.25rem 0.25rem;
    align-items: center;
  }

  &__numbers-ellipsis.hidden-left {
    display: none;
  }

  &__numbers-ellipsis.hidden-right {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .pagination {
    &__number {
      margin-left: 0;
      margin-right: 0;
    }

    &__numbers-ellipsis {
      display: none;
    }
  }

  .hidden-mobile {
    display: none;
  }
}
