.pagination-container {
  display: flex;
  padding: 0 0 40px 0;
  justify-content: center;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #f7f7f7;
}

.pagination-number.active {
  background: #ff6b08;
  border-radius: 5px;
}