.pagination-container {
  display: flex;
  padding: 0 0 40px 0;
  justify-content: center;
}

.pagination-number {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
}

.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #f7f7f7;
}

.pagination-button:not(.disabled):hover {
  cursor: pointer;
}

.pagination-number.active {
  background: #ff6b08;
  border-radius: 5px;
}

.ellipsis {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.pagination-number.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .ellipsis,
  .hidden-mobile {
    display: none;
  }
  .pagination-number {
    margin-left: 0;
    margin-right: 0;
  }
}
