.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition-property: opacity visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.students-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 600px;
  // background-color: getColor(basic-color);
  overflow-y: scroll;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
  &__close-btn {
    position: absolute;
    border: none;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    &--svg {
      position: relative;
      width: 20px;
      height: 20px;
      &:hover,
      &:active,
      &:focus {
        fill: getColor(button-color);
      }
    }
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  & .students-modal .auth-modal {
    transform: translate(-50%, -50%) scale(0.1);
  }
}

.team__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;

  & li {
    width: 44px;
    height: 50px;
    border-radius: 10px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:active,
    &:focus {
      background-color: getColor(button-color);
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  & svg {
    display: inline-flex;
    width: 44px;
    height: 44px;
    padding: 7px;
    fill: getColor(bgd);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:active,
    &:focus {
      fill: getColor(basic-color);
    }
  }
  & ul {
    display: flex;
    padding-inline-start: 0;
  }
}

.team-container {
  background-color: getColor(basic-lighter);
  padding: 20px;
}
.team {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 0;
  margin: 0;
  &__members {
    margin: 0;
    padding: 0;
    width: 190px;
    height: 300px;
    background-color: getColor(basic-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024;
    text-align: center;
    transform: scale(1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      transform: scale(1.04);
      box-shadow: 5px 4px 11px -3px rgb(15 31 3 / 56%);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 190px;
    height: 122px;
  }
  &__header {
    font-family: Roboto, sans-serif;
    font-size: 28px;
    line-height: 1.33;
    font-weight: 700;
    letter-spacing: 3%;
    text-align: center;
    &--accent {
      color: getColor(button-color);
    }
    &--and {
      font-family: Monotype Corsiva;
      font-size: 31px;
      font-weight: 700;
    }
  }
  &__names {
    color: getColor(bgd-dark);
    font-weight: 900;
    font-size: 19px;
    line-height: 1.17;
    letter-spacing: 3%;
  }
  &__positions {
    color: getColor(button-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 3%;
    margin: 0;
    margin-bottom: 14px;

    &--funk {
      padding: 0;
      margin: 2px;
    }
    &--var {
      color: getColor(underline-color);
      margin: 0;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
@media screen and (min-width: 768px) {
  .students-modal {
    width: 640px;
  }
  .team {
    gap: 20px;
    &__members {
      border-radius: 6px;
      width: 280px;
      height: 390px;
    }
    &__img {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      width: 280px;
      height: 212px;
    }
  }
}
@media screen and (min-width: 1025px) {
  .students-modal {
    width: 600px;
    height: 650px;
    overflow-y: hidden;
  }
  .team__social-links {
    padding-bottom: 30px;

    & li {
      width: 34px;
      height: 40px;
      border-radius: 10px;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    & svg {
      width: 34px;
      height: 34px;
      padding: 6px;
    }
  }
  .team {
    gap: 10px;
    &__members {
      border-radius: 4px;
      width: 180px;
      height: 250px;
    }
    &__img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      width: 180px;
      height: 115px;
    }
    &__header {
      margin: 0;
    }
    &__names {
      font-size: 15px;

      margin-bottom: 8px;
    }
    &__positions {
      font-size: 12px;

      margin-bottom: 12px;

      &--funk {
        padding: 0;
        margin: 0;
      }
      &--var {
        margin: 0;
        font-size: 10px;
      }
    }
  }
}
