.to-top {
  position: fixed;
  bottom: 10%;
  right: 5%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 70px;

  text-decoration: none;
  color: #fff;
  background-color: getColor('button-color');
  border-radius: 50%;
  opacity: 0.6;
  box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.3);

  cursor: pointer;
  animation: drag 2000ms ease-in-out infinite;

  transition: all 350ms ease-in-out;

  &:hover,
  &:focus {
    opacity: 1;
    animation-play-state: paused;
  }
  z-index: 10;
  @media screen and (min-width: 768px) {
      bottom: 5%;
    }
}
